
.infoPanel {
  background: rgba(28,28,28,0.8);
  border-radius: 4px;
  color: #fff;
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 64;
  min-width: 22em;
  font-size: 11px;
}

.infoPanelClose {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-family: inherit;
}

.infoPanelContent {
  padding: 5px;
}

.infoPanelContent>div>div {
  display: inline-block;
  font-weight: 500;
  padding: 0 .5em;
  text-align: right;
  width: 8em;
}